
{% extends "base.html" %}
{% load static  %}
{% load crispy_forms_tags %}


{% block title %}

{% endblock title %}

{% block content %}
                        
  {% for i in messages %}
  <div class="alert alert-info" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    
    {{ i  }}
  </div>

  {% endfor %}

  <div class="container mt-5"> 
    <h1>Create Gift Items Here</h1>
    <div class="col-4">
    <form class="form-inline" action="{% url 'load'%}" method="post">
      {% csrf_token %}
     
        <input type="text" name="code" id="code"class="form-control" placeholder="The code">
          
          <input type="text" name="gift" id="gift" class="form-control"placeholder="Code Point">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

 
  {% endblock content %}