
{% extends "base.html" %}


{% load crispy_forms_tags %}



{% block title %}
  <title> {{Title}} </title>
{% endblock title %}



{% block content %}
<div class="container">



 <br>
 
 <!-- <div class="row " >
  <form action="{% url 'redeem'  %}"  method ='POST' class ='mt-5 md-2 col-2 mb-3' >
    {% csrf_token %}
    <div>
      <input type="text" name="agoba" id="code" placeholder="Input the Code">
    </div>
    
    <button type="submit" class="btn btn-primary">Redeem Code</button>
    </form>

 </div> -->
 {% for i in messages %}
 <div class="alert alert-info" role="alert">
   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   
   {{ i  }}
 </div>

 {% endfor %}

 <div class="container mt-5"> 
  <h3>Redeem Code</h3>
  <div class="col-4">
  <form class="form-inline" action="{% url 'redeem'  %}"  method ='POST'>
    {% csrf_token %}
   
      <input type="text" name="agoba" id="code" class="form-control" placeholder="Input the Code">

        </div>
        <button type="submit" class="btn btn-primary">Redeem</button>
    </form>
  </div>


                  
</div>
<div class="container mt-5">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Code Redeem</th>
        <th scope="col">Value</th>
        <th scope="col">Status</th>
        
        <tbody>

       {% for i in Alex  %}
       {% if i.status == False %}
       <tr>
        <td>{{i.id}}</td>
        <td>{{i.code}}</td>
        <td>{{i.gift}}</td>
        <td>Already Redeemed</td>
        
      </tr>
       {% endif %}
        
       

          {% endfor %}
   

          <th scope="col"></th>
          <th scope="col">Total</th>
          <th scope="col">{{Alex1}}</th>
          <th scope="col"></th>
          
          
        </tbody>
        
    
</table>

</div>











{% for i in Alex1 %}
{{i.gift}}
yam tubjdjdjdj
{% endfor %}


<br>
<br>
<br>
{{Alex}}

Yeemmooo
{% endblock content %}


<body>
 

</body>
</html>