{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

                        
  {% for i in messages %}
  <div class="alert alert-info" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    
    {{ i  }}
  </div>

  {% endfor %}



    <form method ='POST' class ='mt-5 col-4' >
        {% csrf_token %}

      {{register_form|crispy}}
      {% comment %} <input class="btn btn-primary" type="submit" value="Submit"> {% endcomment %}
      <button class="btn btn-primary mb-5" type="submit" >Register</button>
    

        {% comment %} <input type="text" class="form-control col-lg-2"  name = 'task' id='task' placeholder="New Task">
      <button type="submit" class="btn btn-primary col-lg-2">Add Task</button> {% endcomment %}
    </form>
    
</body>
</html>